## Export all names
exportPattern(".")

export(ComBatWrapper,	geoPmidLookup, makeTXT, writeGMT,
   adjP, getFolds, multiHist, writePCL,
   cladeFilter, expandProbesets,	getGEO2, readGMT,
   collapseProbesets,	fold, 	heatmap.3, readPCL,
   cvPredictions, geoLookup, makeCLS, shortenCladeName)

importFrom(multtest, mt.rawp2adjp)
importFrom(cvTools, cvFolds, cvFit)
importFrom(XML, free, xmlValue, xmlDoc, xmlParse, xpathSApply, getNodeSet)
importFrom(gtools, invalid)
importFrom(Biobase, phenoData, varLabels, varMetadata, pData)
importFrom(GEOquery, getGEO)
importFrom(GEOmetadb, getSQLiteFile)
importFrom(RSQLite, SQLite)
importFrom(DBI, dbConnect, dbGetQuery)
