## Export all names
exportPattern(".")

importFrom(multtest, mt.rawp2adjp)
importFrom(cvTools, cvFolds, cvFit)
importFrom(XML, free, xmlValue, xmlDoc, xmlParse, xpathSApply, getNodeSet)
importFrom(genomes, xvalue, esearch, efetch)
importFrom(gtools, invalid)
importFrom(Biobase, phenoData, varLabels, varMetadata, pData)
importFrom(GEOquery, getGEO)
importFrom(GEOmetadb, getSQLiteFile)
importFrom(RSQLite, SQLite)
importFrom(DBI, dbConnect, dbGetQuery)
